* {
  box-sizing: border-box;
}

*::selection {
  background-color: #6366F1;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #2b3531;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #40ddff;
  border-radius: 10px;
}

.button {
  @apply bg-gradient-to-r from-primary-1 via-primary-2 to-primary-3 text-black; 
}