html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  background: #2b3531;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f54518;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}
